<div id="board-id-<%= board.id %>" class="max-w-sm w-full bg-white border border-gray-400 rounded-lg shadow-md overflow-hidden">
  <div class="h-48 bg-cover bg-center rounded-t-lg">
    <%= image_tag board.board_image_url, class: "object-cover h-full w-full" %>
  </div>
  <div class="p-4">
    <div class="mb-4">
      <div class="text-gray-900 font-bold text-xl mb-2"><%= link_to board.title, board_path(board) %></div>
      <% if current_user == board.user %>
      <div class="flex justify-end space-x-2">
        <%= link_to edit_board_path(board), id: "button-edit-#{board.id}" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 2.487a2.25 2.25 0 013.182 3.182l-12 12-4.5 1.5 1.5-4.5 12-12z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 5.25L18.75 6" />
          </svg>
        <% end %>
        <%= link_to board_path(board), id: "button-delete-#{board.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "ml-2" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 6.75l-.857 12.008A2.25 2.25 0 0116.402 21H7.598a2.25 2.25 0 01-2.241-2.242L4.5 6.75M9.75 9.75v7.5m4.5-7.5v7.5M3 6.75h18M12 3.75h.008v.008H12V3.75z" />
          </svg>
        <% end %>
      </div>
      <% end %>
      <p class="text-gray-700 text-base"><%= board.body %></p>
    </div>
  <!--
  <div class="flex items-center">
    <img class="w-10 h-10 rounded-full mr-4" src="../img/u1.png" alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">Jonathan Reinink</p>
        <p class="text-gray-600">Aug 18</p>
      </div>
    </div>
    -->
  </div>
</div>
