<div id="board-id-<%= board.id %>" class="max-w-sm w-full bg-white border border-gray-400 rounded-lg shadow-md overflow-hidden">
  <div class="h-48 bg-cover bg-center rounded-t-lg" style="background-image: url('../img/a1.JPG')" title="Woman holding a mug">
    <%= image_tag "sample.jpg", class: "object-cover h-full w-full" %>
  </div>
  <div class="p-4">
    <div class="mb-4">
      <div class="text-gray-900 font-bold text-xl mb-2"><%= link_to board.title, '#' %></div>
      <div class="flex justify-end space-x-2">
      <%= link_to '#', id: "button-edit-#{board.id}", class: "text-gray-600 hover:text-gray-900" do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>
      <%= link_to '#', id: "button-delete-#{board.id}", method: :delete, data: { confirm: '' }, class: "text-gray-600 hover:text-gray-900" do %>
        <i class="bi bi-trash-fill"></i>
      <% end %>
    </div>
      <p class="text-gray-700 text-base"><%= board.body %></p>
  </div>
  <div class="flex items-center">
    <img class="w-10 h-10 rounded-full mr-4" src="../img/u1.png" alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">Jonathan Reinink</p>
        <p class="text-gray-600">Aug 18</p>
      </div>
    </div>
  </div>
</div>
